{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"semicolon": [true, "never", "ignore-interfaces"],
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxBracketSameLine": false,
	"endOfLine": "auto"
}
